<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.payment.mapper.OrderMapper">

    <select id="getOrderById" parameterType="Long" resultType="order">
        SELECT * FROM t_order
        <where>
            <if test="orderId != null">
                AND order_id = #{orderId}
            </if>
        </where>
    </select>


    <select id="getOrder" parameterType="map" resultType="order">
        SELECT * FROM t_order
        <where>
            <choose>
                <when test=" orderName != null">
                    AND order_name = #{orderName}
                </when>
                <when test=" orderUser != null">
                    AND order_user = #{orderUser}
                </when>
                <otherwise>
                    AND order_id = 1
                </otherwise>
            </choose>
        </where>
    </select>


    <update id="updateOrder" parameterType="map">
        UPDATE t_order
        <set>
            <if test=" orderState != null">
                order_state = #{orderState},
            </if>
            <if test="orderName != null">
                order_name = #{orderName},
            </if>
            <if test=" orderUser != null">
                order_user = #{orderUser},
            </if>
        </set>
        <where>
            order_id = #{orderId}
        </where>
    </update>


    <select id="getOrderForeach" parameterType="map" resultType="order">
        SELECT * FROM t_order
        <where>
            order_id in
            <foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </select>

</mapper>